## Financial Wellbeing Score development

1. Number of months in the last year with payment dishonours (missed payments on credit cards etc -- how will this be represented in transaction data? Bank fees and charges?)

2. Any payday loans in the last year? (include BNPL)

3. Days in the last year with liquid balances below one week's average expenses - bank balance on any given day that is less than expected outgoings for that week.

4. Days in the last year during which customer had the ability to raise one month's expenses from savings or available credit

5. Age normed percentile of customer's median savings balance over the last year

In [85]:
import pandas as pd
import pickle
import extract_time
import scores
import scores_vis

import importlib
importlib.reload(scores)
importlib.reload(extract_time)
importlib.reload(scores_vis)

In [48]:
with open('/Users/ellie/Documents/Projects/Models_Data/RawData/OBdata/test_df_05042022.pkl','rb') as f:
    data = pickle.load(f)

In [49]:
data

,description,timestamp,currency,type,amount,id,merchant,category,runningBalance.currency,runningBalance.amount,description_anon,transaction_class,need_want
0,SAVE THE CHANGE,2021-12-12,GBP,DEBIT,-0.41,4b6afa19a1407cb1321979f8e52ea3dd,,BILL_PAYMENT,GBP,376.03,SAVE THE CHANGE,Savings&Investments,Future You
1,AA MEMBERSHIP,2021-12-12,GBP,DEBIT,-23.11,a5d504ed5625f1009030b39c4afefe54,Aa Membership,DIRECT_DEBIT,GBP,352.92,AA MEMBERSHIP,VehicleCosts,Want
2,PAYPAL BETFRED,2021-12-14,GBP,DEBIT,-2.00,1e9ec87d4fda1a44b787520ed36d8761,Betfred,PURCHASE,GBP,353.44,PAYPAL BETFRED,Gambling,Want
3,MT SECURETRADE LIM,2021-12-14,GBP,CREDIT,43.50,d1df8880ea19fa38dd1fd3a4f5983c2c,,PURCHASE,GBP,376.44,MT SECURETRADE LIM,Savings&Investments,Future You
4,MT SECURETRADE LIM,2021-12-14,GBP,DEBIT,-20.50,83007ff0097149d10aa3b320cc356549,,PURCHASE,GBP,332.94,MT SECURETRADE LIM,Savings&Investments,Future You
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,ASDA STORES LTD,2022-03-10,GBP,DEBIT,-5.00,eea3e1ab42c1af06cf97ccb1e53d89a9,Asda,PURCHASE,GBP,413.34,ASDA STORES LTD,Groceries,Essential
436,OUTGOING DD,2022-03-10,GBP,DEBIT,-30.00,c547f60eeca52f4977f5a9b8af94f841,,DIRECT_DEBIT,GBP,473.70,OUTGOING DD,GeneralShopping,Want
437,CIRCLE UK TRADING,2022-03-10,GBP,CREDIT,50.36,4475992bf24cc932509199b68b19a610,,CREDIT,GBP,503.70,CIRCLE UK TRADING,Savings&Investments,Future You
438,AXA WEALTH LTD,2022-03-10,GBP,DEBIT,-40.00,89b57bc9ad0584803b8ed8d0df31431e,,DIRECT_DEBIT,GBP,418.34,AXA WEALTH LTD,Savings&Investments,Future You
439,EDF ENERGY,2022-03-10,GBP,DEBIT,-24.50,9c6ac015f0cb936b27c71f1062f0ccea,,BILL_PAYMENT,GBP,449.20,EDF ENERGY,Bills,Essential

In [50]:
data[data['runningBalance.amount']<0]

,description,timestamp,currency,type,amount,id,merchant,category,runningBalance.currency,runningBalance.amount,description_anon,transaction_class,need_want
19,AMAZON PRIME,2021-12-19,GBP,DEBIT,-7.99,d98bade95ecfa2e163773f4c8bf4a0c5,Amazon Prime,PURCHASE,GBP,-1172.97,AMAZON PRIME,GeneralShopping,Want
20,REGENDA REDWING,2021-12-20,GBP,DEBIT,-150.00,107b103cddfb9afedc8152d6b5caeb93,,PURCHASE,GBP,-982.53,REGENDA REDWING,PersonalTransfer,Unknown
21,WORKING TAX CREDIT,2021-12-20,GBP,CREDIT,22.42,9397908137c8038c9befdf30892c55e6,,CREDIT,GBP,-960.11,WORKING TAX CREDIT,VehicleCosts,Want
22,CHILD TAX CREDIT,2021-12-20,GBP,CREDIT,345.13,09240015208bcb49d1ae7dd6f3d11c5d,,CREDIT,GBP,-1164.98,CHILD TAX CREDIT,VehicleCosts,Want
23,PARKRETAIL CO UK,2021-12-20,GBP,DEBIT,-550.00,2a365bfbfac667f0dd9857757045c63c,,PURCHASE,GBP,-1510.11,PARKRETAIL CO UK,GeneralShopping,Want
...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,MR JOHN SMITH,2022-02-28,GBP,DEBIT,-32.72,ad7eae69e84579e7b9244c6ef49427d1,,TRANSFER,GBP,-669.73,MR <PERSON>,PersonalTransfer,Unknown
345,TSB CLEVELEYS,2022-02-28,GBP,CREDIT,420.00,32ff7ee2d4659b197a97de1ff3f92b43,,CASH,GBP,-640.42,TSB CLEVELEYS,GeneralShopping,Want
346,WORKING TAX CREDIT,2022-02-28,GBP,CREDIT,22.42,b3cbec7ca2ce21d51ff6d095422d7fcb,,CREDIT,GBP,-647.31,WORKING TAX CREDIT,VehicleCosts,Want
347,AMAZON INT L,2022-02-28,GBP,DEBIT,-36.59,9990f912ba87239b79f71a9d728f3a0b,Amazon,PURCHASE,GBP,-677.01,AMAZON INT L,GeneralShopping,Want
348,RETURNED DD,2022-02-28,GBP,CREDIT,40.00,663ab07024a49acadf6a51e80667b65c,,CREDIT,GBP,-637.01,RETURNED DD,GeneralShopping,Want

In [55]:
scores.weekly_score(data,'income')

RangeIndex(start=0, stop=13, step=1)
Average income for past 4 weeks: 638

/opt/anaconda3/envs/chat_env/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

    per_start    per_end   income  rolling income
0  2021-12-12 2021-12-18   181.10          817.19
1  2021-12-19 2021-12-25  1850.47          817.19
2  2021-12-26 2022-01-01   548.87          817.19
3  2022-01-02 2022-01-08  1085.81          916.56
4  2022-01-09 2022-01-15   326.28          952.86
5  2022-01-16 2022-01-22  2037.78          999.68
6  2022-01-23 2022-01-29   651.37         1025.31
7  2022-01-30 2022-02-05   517.55          883.24
8  2022-02-06 2022-02-12   873.46         1020.04
9  2022-02-13 2022-02-19   263.31          576.42
10 2022-02-20 2022-02-26   470.05          531.09
11 2022-02-27 2022-03-05  1066.42          668.31
12 2022-03-06 2022-03-12   751.04          637.71

In [92]:
df = data.copy()
df_dates = extract_time.create_time_bins(data,'M')
scores = []
preparedness_score = []
for i in df_dates.index:
    start = pd.Timestamp(df_dates.iloc[i]['per_start'])
    #print(start)
    end =  pd.Timestamp(df_dates.iloc[i]['per_end'])
    #print(end)
    df_month = df[(df.timestamp.dt.date>=start)&(df.timestamp.dt.date<end)]
    score = round(0-(df_month[(df_month.need_want=='Essential')|((df_month.transaction_class=='Loans&Credit')&(df_month.type=='DEBIT'))]['amount'].sum()),2)
    #print(score)
    scores.append(score)



print(scores)

[664.7, 664.7, 521.18]

/opt/anaconda3/envs/chat_env/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [93]:
for i in df['runningBalance.amount']:
    print(i)

376.03
352.92
353.44
376.44
332.94
385.53
365.44
369.03
384.98
355.44
369.53
444.53
423.9
484.53
424.53
417.53
497.26
359.66
277.45
-1172.97
-982.53
-960.11
-1164.98
-1510.11
-720.1
-759.35
-720.09
-795.94
-832.53
-626.02
-695.09
-715.09
-693.52
-593.52
-608.02
-645.02
-608.43
-598.02
-645.52
-656.02
-573.52
-655.24
-612.34
-635.96
-643.52
-604.65
-609.35
-588.79
-647.31
-637.01
-677.01
-669.73
-640.42
326.87
326.86
326.83
326.91
326.88
242.78
326.9
272.78
326.78
326.84
326.89
232.78
262.78
252.78
326.79
593.9
326.81
366.9
302.78
326.82
326.77
593.91
326.8
282.78
326.85
641.32
631.32
661.32
640.73
520.35
669.32
519.94
633.83
656.94
666.32
676.32
649.94
669.31
636.32
636.32
631.32
656.12
628.05
526.95
519.46
624.46
528.05
636.12
628.05
649.46
596.95
631.12
594.87
587.19
536.95
579.2
556.05
543.32
516.95
592.98
654.87
659.87
114.04
597.99
460.39
164.22
123.75
186.64
173.75
659.88
192.47
262.47
263.62
482.03
370.3
371.34
382.03
345.99
372.03
474.6
497.02
474.61
425.58
405.02
404.61
418.34
449.2
413.34
473.7
503.7
453.34
475.34
458.34
402.92
452.92
376.03
352.92
376.44
332.94
353.44
384.98
369.53
385.53
355.44
365.44
369.03
424.53
444.53
497.26
423.9
484.53
417.53
359.66
-1172.97
277.45
-1164.98
-982.53
-960.11
-1510.11
-832.53
-720.09
-795.94
-720.1
-759.35
-695.09
-593.52
-626.02
-715.09
-693.52
-573.52
-608.43
-645.52
-656.02
-645.02
-608.02
-598.02
-612.34
-655.24
-643.52
-609.35
-588.79
-604.65
-635.96
-669.73
-640.42
-647.31
-637.01
-677.01
366.9
252.78
326.9
326.87
326.77
326.85
326.83
282.78
326.82
262.78
326.78
302.78
593.9
326.84
326.79
326.86
593.91
326.88
242.78
326.89
326.8
326.81
272.78
326.91
232.78
631.32
661.32
641.32
640.73
656.94
631.32
676.32
669.32
669.31
666.32
520.35
636.32
649.94
519.94
636.32
633.83
528.05
628.05
519.46
596.95
526.95
631.12
624.46
656.12
649.46
636.12
628.05
594.87
587.19
592.98
516.95
543.32
556.05
536.95
579.2
123.75
654.87
460.39
186.64
173.75
597.99
114.04
659.88
164.22
659.87
263.62
262.47
192.47
345.99
371.34
482.03
474.6
497.02
382.03
370.3
372.03
404.61
425.58
474.61
405.02
453.34
449.2
413.34
503.7
473.7
418.34
475.34
458.34
402.92
452.92
376.03
352.92
332.94
353.44
376.44
369.53
365.44
369.03
355.44
384.98
385.53
497.26
444.53
417.53
424.53
423.9
484.53
359.66
277.45
-1172.97
-1164.98
-1510.11
-982.53
-960.11
-795.94
-720.1
-832.53
-720.09
-759.35
-695.09
-626.02
-593.52
-693.52
-715.09
-598.02
-608.43
-656.02
-573.52
-645.02
-645.52
-608.02
-635.96
-609.35
-588.79
-643.52
-612.34
-655.24
-604.65
-669.73
-640.42
-647.31
-677.01
-637.01
326.88
326.82
282.78
252.78
326.81
302.78
242.78
326.83
326.9
326.87
326.89
326.79
593.91
262.78
326.78
326.86
232.78
326.84
593.9
272.78
366.9
326.8
326.91
326.85
326.77
631.32
661.32
640.73
641.32
666.32
669.31
669.32
676.32
633.83
636.32
636.32
631.32
519.94
520.35
656.94
649.94
636.12
628.05
656.12
624.46
628.05
649.46
528.05
631.12
596.95
519.46
526.95
516.95
587.19
592.98
556.05
543.32
579.2
536.95
594.87
460.39
164.22
123.75
659.87
597.99
659.88
114.04
654.87
173.75
186.64
263.62
192.47
262.47
474.6
382.03
370.3
372.03
482.03
497.02
371.34
345.99
405.02
474.61
404.61
425.58
453.34
413.34
473.7
503.7
418.34
449.2

In [88]:
sum(scores)

1850.58

In [91]:
data

,description,timestamp,currency,type,amount,id,merchant,category,runningBalance.currency,runningBalance.amount,description_anon,transaction_class,need_want
0,SAVE THE CHANGE,2021-12-12,GBP,DEBIT,-0.41,4b6afa19a1407cb1321979f8e52ea3dd,,BILL_PAYMENT,GBP,376.03,SAVE THE CHANGE,Savings&Investments,Future You
1,AA MEMBERSHIP,2021-12-12,GBP,DEBIT,-23.11,a5d504ed5625f1009030b39c4afefe54,Aa Membership,DIRECT_DEBIT,GBP,352.92,AA MEMBERSHIP,VehicleCosts,Want
2,PAYPAL BETFRED,2021-12-14,GBP,DEBIT,-2.00,1e9ec87d4fda1a44b787520ed36d8761,Betfred,PURCHASE,GBP,353.44,PAYPAL BETFRED,Gambling,Want
3,MT SECURETRADE LIM,2021-12-14,GBP,CREDIT,43.50,d1df8880ea19fa38dd1fd3a4f5983c2c,,PURCHASE,GBP,376.44,MT SECURETRADE LIM,Savings&Investments,Future You
4,MT SECURETRADE LIM,2021-12-14,GBP,DEBIT,-20.50,83007ff0097149d10aa3b320cc356549,,PURCHASE,GBP,332.94,MT SECURETRADE LIM,Savings&Investments,Future You
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,ASDA STORES LTD,2022-03-10,GBP,DEBIT,-5.00,eea3e1ab42c1af06cf97ccb1e53d89a9,Asda,PURCHASE,GBP,413.34,ASDA STORES LTD,Groceries,Essential
436,OUTGOING DD,2022-03-10,GBP,DEBIT,-30.00,c547f60eeca52f4977f5a9b8af94f841,,DIRECT_DEBIT,GBP,473.70,OUTGOING DD,GeneralShopping,Want
437,CIRCLE UK TRADING,2022-03-10,GBP,CREDIT,50.36,4475992bf24cc932509199b68b19a610,,CREDIT,GBP,503.70,CIRCLE UK TRADING,Savings&Investments,Future You
438,AXA WEALTH LTD,2022-03-10,GBP,DEBIT,-40.00,89b57bc9ad0584803b8ed8d0df31431e,,DIRECT_DEBIT,GBP,418.34,AXA WEALTH LTD,Savings&Investments,Future You
439,EDF ENERGY,2022-03-10,GBP,DEBIT,-24.50,9c6ac015f0cb936b27c71f1062f0ccea,,BILL_PAYMENT,GBP,449.20,EDF ENERGY,Bills,Essential

In [71]:
scores.essential_outgoings(data)

1994.1

In [76]:
df[(df.need_want=='Essential')|((df.transaction_class=='Loans&Credit')&(df.type=='DEBIT'))]['amount'].sum()

-1994.1